{{page-title "Songs | Rock & Roll with Octane" replace=true}}
{{#if @model.length}}
  <ul>
    {{#each @model as |song|}}
      <li class="mb-2">
          {{song.title}}
        <span class="float-right">
          <StarRating
            @rating={{song.rating}}
            @onUpdate={{set song "rating"}}
          />
          {{!-- <StarRating @rating={{song.rating}} as |stars|>
            {{#each stars as |star|}}
              <span class="glyphicon {{if star.isFull 'glyphicon-star' 'glyhpicon-star-empty'}}"></span>
            {{/each}}
          </StarRating> --}}
        </span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-tcenter">
    The band has no songs yet.
  </p>
{{/if}}